name: Test and Build

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest

    env:
      NODE_ENV: production

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm ci

      - name: Ensure Vitest is Installed
        run: npm install vitest --save-dev

      - name: Current directory
        run: pwd

      - name: Run Unit Tests
        run: npm run test:run

      - name: Run E2E Tests
        run: npm run test:e2e

      - name: Build for Production
        run: npm run build

      - name: Upload Test Results
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: test-results/

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: dist/
